extends layout

block content
  h2
    p.centerText Frequently Asked Questions

  div.set
    div.question
      h4 
       p <span class='glyphicon glyphicon-plus' style='font-size:20px'></span> What is ReferIt Game?
      div.answer
       p ReferIt Game is an academic research project created by the Computer Vision Group at the University of North Carolina at Chapel-Hill related to natural language processing. We're collecting data on how people construct phrases to refer to objects so that with enough participation we can create algorithms to train computers to do the same. Applications of this are endless and include video and image search and even English-speaking robots. Please share the game on Facebook and like our page <a href='https://www.facebook.com/referitgame'>here</a> to help us reach our goal! And feel free to contact us at <u><a href="mailto:referitgame@gmail.com">referitgame@gmail.com</a></u> with any questions.
  
  div.set
    div.question
      h4
       p <span class='glyphicon glyphicon-plus' style='font-size:20px'></span> How does the game work?
      div.answer
        p You and another player will both be shown the same picture. If you see an item bounded in red, then your goal is to describe the object as best as possible (ex: "Red car in front of the lamppost"). If you are the other player, then your goal is to select the object that the first player describes. You both earn points and swap roles if the second player selects the correct object. The faster you play, the more points you win. 

  div.set
    div.question
      h4
       p <span class='glyphicon glyphicon-plus' style='font-size:20px'></span> How are points awarded?
      div.answer
        p Points are awarded when the second player successfully identifies the object in the image described by the first player. Speed is also factored into point allocation.

  div.set
    div.question
      h4
       p <span class='glyphicon glyphicon-plus' style='font-size:20px'></span> What is the advantage to logging in?
      div.answer
        p Logging in is not required, but by doing so you can keep track of your personal high-scores and compete for a spot on the all-time high-score board.

  div.set
    div.question
      h4
        p <span class='glyphicon glyphicon-plus' style='font-size:20px'></span> Where are the images sourced from?
      div.answer
       p The images are provided by the IAPR TC-12 Benchmark image collection without copyright restrictions. Additional information on the images and their data are available in the following publications:

       blockquote The IAPR Benchmark: A New Evaluation Resource for Visual Information Systems, Grubinger, Michael, Clough Paul D., Müller Henning, and Deselaers Thomas , International Conference on Language Resources and Evaluation, 24/05/2006, Genoa, Italy, (2006).

       blockquote Michael Grubinger. Analysis and Evaluation of Visual Information Systems Performance. PhD Thesis. School of Computer Science and Mathematics, Faculty of Health, Engineering and Science, Victoria University, Melbourne, Australia, 2007.





    




