extends layout

block scripts
 script(src='/js/jquery.min.js')
 script(src='/js/bootstrap.min.js')
 script(src='socket.io/socket.io.js')   
 script(src='/js/mturk2.js')

block content
  p#directions
  h2#expression
  #rightWrong
  #timeBox
    #timeHeader
      p Time Elapsed
    #timeDisplay
  #imageContainer
    img#mainImage
  #dotContainer
  form#turkForm(method='POST', action = 'http://workersandbox.mturk.com/mturk/externalSubmit', onsubmit='return mTurkUser();')
    input#assignmentId(type='hidden', name='assignmentId', value='')
    input#fullOutput(type='hidden', name='fullOutput', value='')
    input#expressionInput(type='hidden', name='expressionInput', value='')
    input#correctness(type='hidden', name='correctness', value='')
    input#workerId(type='hidden', name='workerId', value='')
    #textContainer
      #container
        input#textBox(type='text', onkeydown='if (event.keyCode == 13) enterText();')
    #containerButton
      input#submitButton(type='submit', name='Submit', value='Submit')
  div#toPopup
    div.close
    span.ecs_tooltip
      Press Esc to close
    div#popup_content
      p Instructions:
        | Once you accept this HIT, you will be shown an image and a phrase referring to
        | an object in that image. Your task is to select that object. Click the Submit button 
        | when you believe you have selected the correct object.

        |Happy playing!
  div.loader
  div#backgroundPopup
  div#userName